dev/jade/categories.jade
ion-view(view-title='{{ viewTitle }}', id="{{ viewId }}")
    ion-content
        .list
            .list-item(
                ng-repeat='item in categories'
                style="background-image: url({{ item.image }})"
                ng-click="goCategoryDetail(item.id)"
            )
                .info
                    .icon-box
                    .like-box
                        i.icon.ion-heart
                        .count {{ item.like }}

                    .title {{item.title}}

www/templates/categories.html
<ion-view view-title="{{ viewTitle }}" id="{{ viewId }}"><ion-content><div class="list"><div ng-repeat="item in categories" style="background-image: url({{ item.image }})" ng-click="goCategoryDetail(item.id)" class="list-item"><div class="info"><div class="icon-box"></div><div class="like-box"><i class="icon ion-heart"></i><div class="count">{{ item.like }}</div></div><div class="title">{{item.title}}</div></div></div></div></ion-content></ion-view>
