dev/jade/categoryDetail.jade
ion-view(view-title='{{ category.title }}', id="categoryDetail")
    ion-content(id="categoryDetail")
        .jumbotron
            .image(style="background-image: url({{ category.image }})")
            .title {{ category.title }}

        .products(ng-hide="category.isImageless")
            .product(
                ng-repeat="item in category.products"
                ng-click="openDetail(item.title)"
                style="background-image:url({{ item.image }})"
                ng-class="{noImage: !item.image}"
            )
                .shadow(ng-show="item.image")
                .title {{ item.title }}
                .price {{ item.price|number:2 }} TL
            .clear

        .products(ng-show="category.isImageless")
            .product(
                ng-repeat="item in category.products"
                ng-click="openDetail(item.title)"
                ng-class="{noImage: category.isImageless}"
            )
                .title {{ item.title }}
                .price {{ item.price|number:2 }} TL
            .clear

www/templates/categoryDetail.html
<ion-view view-title="{{ category.title }}" id="categoryDetail"><ion-content id="categoryDetail"><div class="jumbotron"><div style="background-image: url({{ category.image }})" class="image"></div><div class="title">{{ category.title }}</div></div><div ng-hide="category.isImageless" class="products"><div ng-repeat="item in category.products" ng-click="openDetail(item.title)" style="background-image:url({{ item.image }})" ng-class="{noImage: !item.image}" class="product"><div ng-show="item.image" class="shadow"></div><div class="title">{{ item.title }}</div><div class="price">{{ item.price|number:2 }} TL</div></div><div class="clear"></div></div><div ng-show="category.isImageless" class="products"><div ng-repeat="item in category.products" ng-click="openDetail(item.title)" ng-class="{noImage: category.isImageless}" class="product"><div class="title">{{ item.title }}</div><div class="price">{{ item.price|number:2 }} TL</div></div><div class="clear"></div></div></ion-content></ion-view>
