www/templates/menu.html
<html><body><ion-side-menus enable-menu-with-back-views="false"><ion-side-menu-content><ion-nav-bar class="bar-header"><ion-nav-back-button></ion-nav-back-button><ion-nav-buttons side="left"><button menu-toggle="left" class="button button-icon button-clear ion-navicon"></button></ion-nav-buttons></ion-nav-bar><ion-nav-view name="menuContent"></ion-nav-view></ion-side-menu-content><ion-side-menu side="left" id="sideMenuContent"><ion-header-bar class="bar-header"><h1 class="title">Menu</h1></ion-header-bar><ion-content><ion-list><ion-item nav-clear="" menu-close="" ng-click="item.action()" ng-repeat="item in menuItems">{{ item.text }}</ion-item></ion-list></ion-content></ion-side-menu></ion-side-menus></body></html>

dev/jade/menu.jade
html
    body
        ion-side-menus(enable-menu-with-back-views='false')
            ion-side-menu-content
                ion-nav-bar.bar-header
                    ion-nav-back-button

                    ion-nav-buttons(side='left')
                        button.button.button-icon.button-clear.ion-navicon(menu-toggle='left')
                ion-nav-view(name='menuContent')

            ion-side-menu(side='left', id="sideMenuContent")
                ion-header-bar.bar-header
                    h1.title Menu
                ion-content
                    ion-list
                        ion-item(
                            nav-clear='',
                            menu-close='',
                            ng-click='item.action()'
                            ng-repeat="item in menuItems"
                        ) {{ item.text }}
