dev/jade/settings.jade
ion-view(view-title='{{ viewTitle }}', id="{{ viewId }}")
    ion-content
        form(ng-submit='save()').list.list-inset
            .row
                .col.col-50.col-offset-25
                        label.item.item-input.item-stacked-label
                            span.input-label
                                | Username

                            input(
                                type='text'
                                ng-model='settings.username'
                                placeholder="Username"
                            )

                        .item.item-toggle
                            | Fiyatları Göster
                            label.toggle.toggle-balanced
                                input(type="checkbox", ng-model="settings.showPrices")
                                .track
                                    .handle

                        .item.item-toggle
                            | Kayan Resimler
                            label.toggle.toggle-balanced
                                input(type="checkbox", ng-model="settings.autoScrollImages")
                                .track
                                    .handle

                        .item.item-toggle
                            | Tam Sayfa Detay
                            label.toggle.toggle-balanced
                                input(type="checkbox", ng-model="settings.fullScreenProductDetail")
                                .track
                                    .handle
            .row
                .col.col-50.col-offset-25
                    button.button.button-full.button-empty(type="submit")
                        | Ayarları Kaydet

www/templates/settings.html
<ion-view view-title="{{ viewTitle }}" id="{{ viewId }}"><ion-content><form ng-submit="save()" class="list list-inset"><div class="row"><div class="col col-50 col-offset-25"><label class="item item-input item-stacked-label"><span class="input-label">Username</span><input type="text" ng-model="settings.username" placeholder="Username"/></label><div class="item item-toggle">Fiyatları Göster<label class="toggle toggle-balanced"><input type="checkbox" ng-model="settings.showPrices"/><div class="track"><div class="handle"></div></div></label></div><div class="item item-toggle">Kayan Resimler<label class="toggle toggle-balanced"><input type="checkbox" ng-model="settings.autoScrollImages"/><div class="track"><div class="handle"></div></div></label></div><div class="item item-toggle">Tam Sayfa Detay<label class="toggle toggle-balanced"><input type="checkbox" ng-model="settings.fullScreenProductDetail"/><div class="track"><div class="handle"></div></div></label></div></div></div><div class="row"><div class="col col-50 col-offset-25"><button type="submit" class="button button-full button-empty">Ayarları Kaydet</button></div></div></form></ion-content></ion-view>
