dev/jade/modal/categoryItemDetailController.jade
ion-modal-view
    ion-content.item-detail-modal
        .image(
            style="background-image: url({{ item.images[0] }})"
            ng-show="item.images.length == 1"
        )
        .images(ng-show="item.images.length > 1")
            ion-slide-box(
                does-continue="true"
                auto-play="true"
                slide-interval="3000"
                show-pager="false"
            )
                ion-slide(ng-repeat="img in item.images")
                    .image(style="background-image: url({{ img }})")

        .roundbox(ng-hide="item.images.length == 0")
        .page(ng-class="{noImage: item.images.length == 0}")
            .closeButton(ng-click="closeModal()")
                i.icon.ion-close-round
            h1 {{ item.title }}
            h2 {{ item.price|number:2 }} TL
            p {{ item.longDesc }}

www/templates/modal/categoryItemDetailController.html
<ion-modal-view><ion-content class="item-detail-modal"><div style="background-image: url({{ item.images[0] }})" ng-show="item.images.length == 1" class="image"></div><div ng-show="item.images.length &gt; 1" class="images"><ion-slide-box does-continue="true" auto-play="true" slide-interval="3000" show-pager="false"><ion-slide ng-repeat="img in item.images"><div style="background-image: url({{ img }})" class="image"></div></ion-slide></ion-slide-box></div><div ng-hide="item.images.length == 0" class="roundbox"></div><div ng-class="{noImage: item.images.length == 0}" class="page"><div ng-click="closeModal()" class="closeButton"><i class="icon ion-close-round"></i></div><h1>{{ item.title }}</h1><h2>{{ item.price|number:2 }} TL</h2><p>{{ item.longDesc }}</p></div></ion-content></ion-modal-view>
